{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-sql"
  ],
  "singleQuote": true,
  "trailingComma": "all",
  "embeddedLanguageFormatting": "auto",
  "language": "postgresql",
  "keywordCase": "upper",
  "importOrder": [
    "^\\u0000",
    "<THIRD_PARTY_MODULES>",
    "^@app/(?!.*\\.css$).*",
    "^\\u0000",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
